.container {
    padding-inline: 20px;
}

@media (width >= 50.625em){
    .container {
        padding-inline: 44px;
    }
}

@media (width >= 75em){
    .container {
        padding-inline: 0;
        max-width: 70em;
        margin-inline: auto;
    }
}