#footer {
    background-color: var(--color-blue-900);
    padding-block: 24px;
}

#footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#footer .footer__logo {
    transition: opacity 150ms ease-in-out;
}

#footer .footer__logo:hover {
    opacity: .75;
}